body {
    font-size: 16px;
    background: #f9f9f9;
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    background:url("background.jpg");
    background-size: cover;
}
h2 {
    text-align: center;
    text-decoration: underline;
    color: rgb(255,255,153);
}
form {
    width: 300px;
    background: #fff;
    padding: 15px 40px 40px;
    border: 1px solid #ccc;
    margin: 50px auto 0;
    border-radius: 5px;
    background:rgba(0,0,0,0.5);
    text-align: center;
}
label {
    display: block;
    margin-bottom: 5px;
    color: white;
}
input, select {
    border: 1px solid #ccc;
    padding: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
    background: transparent;
    color: white;
}
.row {
    padding-bottom: 10px;
}
.error {
    color: rgb(255,255,153);
    font-size: 90%;
}
input[type="submit"] {
    border: none;
    width: 300px;
    color: #000;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    background: rgb(255,255,153);
}
input[type="submit"]:hover {
    color: #fff;
    background-color: black;
}
a
{
    color: yellow;
    text-decoration: blink;
}
a:hover
{
    color: skyblue;
}